
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- CloudMiningData -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2132670757639902"
     data-ad-slot="8817573515"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<footer class="footer">
  <small>
    The cloud mining website
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Market", market_path %></li>
      <li><%= link_to "Miner modeling", miners_path %></li>
    </ul>
  </nav>
</footer>